@charset "UTF-8";
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Regular.eot");
  src: local("☺"), url("../fonts/Noto_Sans/NotoSans-Regular.woff2") format("woff2"), url("../fonts/Noto_Sans/NotoSans-Regular.woff") format("woff"), url("../fonts/Noto_Sans/NotoSans-Regular.ttf") format("truetype"), url("../fonts/Noto_Sans/NotoSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/Noto_Sans/NotoSans-Bold.eot");
  src: local("☺"), url("../fonts/Noto_Sans/NotoSans-Bold.woff2") format("woff2"), url("../fonts/Noto_Sans/NotoSans-Bold.woff") format("woff"), url("../fonts/Noto_Sans/NotoSans-Bold.ttf") format("truetype"), url("../fonts/Noto_Sans/NotoSans-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: var(--default-fz14);
}

body {
  font-family: "Noto Sans", serif, sans-serif;
}

p {
  margin: 0 0 12px;
  line-height: 1.5714285714;
}
@media (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.75;
  }
}

p:last-child {
  margin: 0;
}

.grid > * {
  min-width: 0px;
  margin: 0px auto;
}

.hidden {
  display: none;
}

.hide {
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

._container {
  max-width: 1100px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.mt-36 {
  margin-top: -36px;
}

a.mouse__scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: -3em;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  a.mouse__scroll {
    bottom: -1em;
  }
  a.mouse__scroll:active, a.mouse__scroll:focus {
    outline: none;
  }
}
.m__scroll-arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #fff;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #fff;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.burger-btn {
  position: absolute;
  width: 33px;
  height: 28px;
  margin-right: 15px;
  top: 30px;
  right: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .burger-btn {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    left: -1000%;
    background: transparent;
    font-size: 0;
  }
}
.burger-btn span, .burger-btn::before, .burger-btn::after {
  position: absolute;
  width: 100%;
  height: 17%;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}
.burger-btn::before, .burger-btn::after {
  content: "";
}
.burger-btn::before {
  top: 0;
}
.burger-btn::after {
  bottom: 0;
}
.burger-btn span {
  top: 50%;
  transform: translate(0px, -50%);
}
.burger-btn._active span {
  transform: scale(0) translate(0px, -50%);
}
.burger-btn._active::before, .burger-btn._active::after {
  top: 50%;
  height: 25%;
}
.burger-btn._active::before {
  transform: rotate(-45deg) translate(3px, -50%);
}
.burger-btn._active::after {
  transform: rotate(45deg) translate(-3px, -50%);
}

.button {
  display: inline-block;
  background-color: var(--default-text-blue-dark);
  padding: 15px 25px;
  color: #fff;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  box-shadow: 1px 3px 15px 0px rgba(0, 82, 194, 0.5);
}
.button .fa {
  margin-right: 7px;
}

/* Button "Up": */
.btn_up {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 100;
  outline: 0 !important;
  background: rgba(255, 255, 255, 0.5);
}
.btn_up::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-45deg);
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn_up::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn_up.active {
  display: block;
}
@media (min-width: 992px) {
  .btn_up:hover {
    cursor: pointer;
    background-color: var(--default-hover-orange);
    transition: 0.5s;
  }
}

.card__img {
  position: relative;
  display: block;
  min-height: 200px;
  background-image: url("../img/images/images-placeholders/project_placeholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card__img img {
  display: block;
  width: 100%;
}
.card__img--hover {
  display: none;
}
.card__text {
  padding: 20px 0px 8px;
}
.card__title {
  text-wrap: balance;
}
.card__title a {
  font-family: "Noto Sans", serif, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}
.card__description {
  margin-top: 8px;
  line-height: 1.4285714286;
}

@media (min-width: 768px) {
  .card a.card__img {
    min-height: 153px;
    width: 100%;
    margin-bottom: 0;
  }
  .card__description p {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}
@media (min-width: 992px) {
  .card__img {
    cursor: pointer;
  }
  .card__img--hover {
    position: absolute;
    display: block;
    overflow: hidden;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 26px;
    color: #fff;
    background-color: rgba(0, 82, 194, 0.9);
    opacity: 0;
    transition: 0.5s;
  }
  .card__img--hover .fa {
    margin: 40px 0 15px;
    font-size: 64px;
  }
  .card__img:hover .card__img--hover {
    opacity: 1;
    top: 0;
  }
  .card__title a {
    font-size: 24px;
  }
  .card__title a:hover {
    color: var(--default-hover-orange);
    transition: all 1s ease 0s;
  }
  .card__description p {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media (min-width: 1024px) {
  .card__title {
    min-height: 0px;
  }
}
@media (min-width: 1200px) {
  .card__title {
    min-height: 30px;
  }
}
.definition-list {
  display: grid;
  row-gap: 16px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .definition-list {
    row-gap: 12px;
  }
}
.definition-list__def {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.8571428571;
  text-transform: uppercase;
  color: var(--default-text-blue-dark);
}
.definition-list__def--light {
  color: var(--default-text-blue-light);
}
.definition-list__def--bigger {
  margin-bottom: 2px;
  font-size: 16px;
  line-height: 1.75;
}
.definition-list__description {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
}
.definition-list__description a {
  padding-bottom: 4px;
  color: var(--default-text-white);
  border-bottom: 1px dotted var(--default-text-white);
}
@media (min-width: 992px) {
  .definition-list__description a:hover {
    color: var(--default-hover-orange);
    text-decoration: none;
    border-bottom: 1px dotted var(--default-hover-orange);
    transition: all 1s ease 0s;
  }
}

.heading {
  font-family: "Noto Sans";
  font-weight: 700;
  line-height: 1.2;
  color: var(--default-text-blue-dark);
}
@media (max-width: 767px) {
  .heading {
    font-size: calc(32px + 17 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 768px) {
  .heading {
    font-size: calc(32px + 10 * 100vw / 1200);
  }
}
.heading--white {
  color: var(--default-text-white);
  letter-spacing: 0.1em;
}
.heading--medium {
  font-weight: 700;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .heading--medium {
    font-size: calc(24px + 13.6 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 768px) {
  .heading--medium {
    font-size: calc(24px + 8 * 100vw / 1200);
  }
}

.menu-list {
  position: absolute;
  left: -150%;
  background-color: rgba(6, 33, 55, 0.9);
  padding-top: 120px;
  width: 100%;
  text-align: center;
  transition: all 0.5s ease 0s;
}
.menu-list._active {
  top: 0;
  left: 0;
  height: 100vh;
  transition: all 0.5s ease 0s;
}
.menu-list li {
  margin-bottom: 48px;
}
.menu-list__item a {
  color: var(--default-text-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.menu-list__item a:active {
  color: var(--default-hover-orange);
}

@media (min-width: 768px) {
  .menu-list {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 85px;
    background-color: transparent;
    padding-top: 0px;
    margin-bottom: 68px;
  }
  .menu-list._active {
    top: 0px;
    left: 0;
    height: auto;
  }
  .menu-list li {
    margin-bottom: 0;
    line-height: 1.2;
  }
}
@media (min-width: 992px) {
  a.menu-list__link:hover {
    color: var(--default-hover-orange);
    text-decoration: none;
    transition: all 1s ease 0s;
  }
}
@media (min-width: 1200px) {
  .menu-list {
    column-gap: 130px;
    margin-bottom: 108px;
  }
  .menu-list__item a {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .navigation {
    position: static;
  }
}
.social-icons {
  font-size: 32px;
  padding-top: 15px;
}
.social-icons a {
  margin-right: 22px;
  text-decoration: none;
  border-bottom: none;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover {
  color: var(--default-hover-orange);
}

.form {
  position: relative;
  display: grid;
  row-gap: 12px;
}
.form::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("../img/bg/loading.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.form._sending::after {
  opacity: 1;
  visibility: visible;
}
.form__input, .form__message {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: var(--default-text-white);
  color: var(--default-text-input);
  border: 3px solid transparent;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.form__input:focus, .form__message:focus {
  box-shadow: 0px 0px 5px 10px var(--default-bg-footer);
}
.form__input._error, .form__message._error {
  border: 3px solid var(--default-color-form-border);
}
.form__label {
  background-color: #c62828;
  position: relative;
  display: block;
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 4px;
  margin-top: 13px;
  letter-spacing: 1px;
}
.form__label::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10px;
  width: 0px;
  height: 0px;
  border-bottom: var(--cornerSize) solid #c62828;
  border-right: var(--cornerSize) solid transparent;
  border-left: var(--cornerSize) solid transparent;
}
.form__button {
  height: 60px;
  background-color: var(--default-bg-contacts);
  border: 4px solid var(--default-text-white);
  border-radius: 30px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: var(--default-text-white);
}
.form .checkbox__label span {
  font-size: 14px;
  font-weight: 400;
}
.form .checkbox__label span a {
  color: var(--default-hover-orange);
}

@media (min-width: 768px) {
  .form {
    row-gap: 12px;
  }
  .form__item--bg-pencil {
    position: relative;
  }
  .form__item--bg-pencil::after {
    position: absolute;
    display: block;
    content: "";
    top: 75%;
    right: -6%;
    height: 153px;
    width: 203px;
    background-image: url("../img/bg/pencil.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
  .form__input {
    padding: 12px 9px;
    border-radius: 8px;
  }
  .form__message {
    height: 100%;
    max-height: 130px;
    border-radius: 8px;
  }
  .form__button {
    width: 210px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .form__button {
    transition: all 1s ease 0s;
  }
  .form__button:hover {
    color: var(--default-hover-orange);
    border: 4px solid var(--default-hover-orange);
  }
}
.works-filter {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.works-filter__categories {
  text-align: center;
  display: grid;
  row-gap: 0.4em;
}
@media (min-width: 768px) {
  .works-filter__categories {
    display: flex;
    justify-content: center;
    row-gap: 0;
  }
}
.works-filter .filter {
  display: inline-block;
  color: #cecece;
  padding: 12px 25px;
  transition: all 0.5s ease 0s;
}
@media (min-width: 992px) {
  .works-filter .filter {
    border: 2px solid transparent;
  }
  .works-filter .filter:hover {
    border: 2px solid var(--default-hover-orange);
    cursor: pointer;
    color: var(--default-hover-orange);
  }
}
.works-filter .filter--active {
  padding: 10px 23px;
  border: 2px solid var(--default-text-blue-dark);
  color: #000;
}
@media (min-width: 768px) {
  .works-filter .filter--active {
    padding: 10px 30px;
  }
}
@media (min-width: 992px) {
  .works-filter .filter--active:hover {
    border: 2px solid var(--default-hover-orange);
    cursor: pointer;
    color: var(--default-hover-orange);
    transition: all 1s ease 0s;
  }
}

.contacts {
  padding: 40px 0;
  background-color: var(--default-bg-contacts);
  color: var(--default-text-white);
}
.contacts__row {
  display: grid;
  row-gap: 5.6em;
}
.contacts__description {
  margin: 10px 0 20px;
  line-height: 1.5714285714;
}
.contacts__form {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .contacts {
    padding: 52px 0;
  }
  .contacts__container {
    padding: 0 24px;
  }
  .contacts__row {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-top: -10px;
  }
  .contacts__description {
    margin: 40px 0 32px;
    line-height: 1.75;
  }
}
@media (min-width: 1200px) {
  .contacts__col--bg-cloud {
    position: relative;
  }
  .contacts__col--bg-cloud::after {
    position: absolute;
    display: block;
    content: "";
    top: 30%;
    left: 100%;
    height: 225px;
    width: 181px;
    background-image: url("../img/bg/cloud.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
.resume {
  padding: 36px 0 40px;
  color: var(--default-text-black-near);
}
.resume__about {
  margin: 12px 0 32px;
}
.resume__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5555555556;
}
.resume__photo {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  left: -1000%;
  background: transparent;
  font-size: 0;
}
.resume__row {
  margin: 36px 0 20px;
  display: grid;
  row-gap: 36px;
}

@media (min-width: 768px) {
  .resume {
    padding: 48px 0 60px;
  }
  .resume__container {
    padding: 0 24px;
    display: grid;
    row-gap: 24px;
    column-gap: 10px;
    grid-template-columns: 114px 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "resume__photo resume__title" "resume__photo resume__about" "resume__photo resume__row" "resume__photo resume__button";
  }
  .resume__title {
    grid-area: resume__title;
  }
  .resume__photo {
    grid-area: resume__photo;
    width: 95px;
    height: 95px;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    border-radius: 80px;
  }
  .resume__about {
    grid-area: resume__about;
    margin: 0;
  }
  .resume__row {
    grid-area: resume__row;
    display: flex;
    margin: 8px 0 8px;
  }
  .resume__col {
    flex-grow: 1;
    flex-basis: 0;
  }
  .resume__button {
    grid-area: resume__button;
  }
}
@media (min-width: 992px) {
  a.button:hover {
    color: var(--default-hover-orange);
    transition: all 1s ease 0s;
  }
}
@media (min-width: 1200px) {
  .resume--bg-laptop {
    position: relative;
  }
  .resume--bg-laptop::after {
    position: absolute;
    display: block;
    content: "";
    top: 15%;
    left: 85%;
    height: 468px;
    width: 324px;
    background-image: url("../img/bg/laptop.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
.footer {
  padding: 32px 0;
  background-color: var(--default-bg-footer);
}
.footer__copyright {
  font-size: 16px;
  line-height: 1.75;
  color: #82b3d7;
}
.footer__description {
  line-height: 1.5714285714;
  color: #5e92b9;
}
.footer__description a {
  color: #5e92b9;
  border-bottom: 1px solid #5e92b9;
}
@media (min-width: 992px) {
  .footer__description a:hover {
    color: var(--default-hover-orange);
    transition: all 1s ease 0s;
  }
}

@media (min-width: 768px) {
  .footer__container {
    padding: 0 24px;
  }
  .footer__description {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
.header {
  min-height: 100vh;
  padding: 52px 0 52px;
  background-color: var(--default-text-blue-dark);
  background-image: url("../img/bg/bg_header_767.jpg");
  background-size: cover;
}
.header__text {
  font-weight: 700;
  text-align: center;
  color: var(--default-text-white);
}
.header__title {
  font-size: 26px;
  margin-bottom: 24px;
}
.header__subtitle {
  font-size: 18px;
}
.header__photo {
  height: 110px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 80px;
  box-shadow: 0px 0px 40px 0px #48779f;
}

@media (min-width: 768px) {
  .header {
    padding: 56px 0 50px;
  }
  .header__container {
    padding: 0 24px;
  }
  .header__photo {
    margin-bottom: 40px;
  }
  .header__title {
    margin-bottom: 14px;
    font-size: 42px;
    line-height: 1.2;
    text-shadow: 0px 0px 40px #48779f;
  }
  .header__subtitle {
    font-size: 20px;
    line-height: 1.2;
    text-shadow: 0px 0px 40px #48779f;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 56px;
    margin-bottom: 12px;
  }
  .header__subtitle {
    font-size: 26px;
  }
  .header__photo {
    margin-bottom: 32px;
  }
}
.works {
  padding: 36px 0 44px;
  border-top: 1px solid var(--default-border-bottom-sections);
}
.works__title {
  margin-bottom: 1.2em;
  text-align: center;
}
.works__row {
  display: grid;
  row-gap: 2.4em;
  margin-top: 1.2em;
}
.works__col {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .works {
    padding: 52px 0 16px;
  }
  .works__container {
    padding: 0 24px;
  }
  .works__title {
    margin-bottom: 32px;
  }
  .works__row {
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    column-gap: 30px;
    row-gap: 40px;
  }
  .works__col {
    margin: 0;
  }
  .works__item {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}
@media (min-width: 1200px) {
  .works--bg-gear {
    position: relative;
  }
  .works--bg-gear::after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: -3%;
    height: 166px;
    width: 84px;
    background-image: url("../img/bg/gear.png");
    background-repeat: no-repeat;
    background-position: left top;
  }
}
@media (min-width: 1200px) and (min-width: 1300px) {
  .works--bg-gear::after {
    left: 0%;
  }
}
@media (min-width: 1200px) {
  .works__container {
    max-width: 1140px;
    padding: 0;
  }
  .works__row {
    row-gap: 52px;
  }
}/*# sourceMappingURL=style.css.map */