.contacts {
  padding: 40px 0;
  background-color: var(--default-bg-contacts);
  color: var(--default-text-white);

  &__row {
    display: grid;
    row-gap: 6em;
  }

  &__description {
    margin: 10px 0 20px;
    line-height: calc(22 / 14);
  }

  &__form {margin-top: 20px;}
}

@media(min-width: 768px) {
  .contacts {
    padding: 50px 0 30px;

    &__container {padding: 0 24px;}

    &__row {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      margin-top: -10px;
    }

    &__description {
      margin: 42px 0 34px;
      line-height: calc(28 / 16);
    }
  }
}

@media (min-width: 1200px) {
  .contacts__col--bg-cloud {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 30%;
      left: 100%;
      height: 225px;
      width: 181px;
      background-image: url('../../img/bg/cloud.png');
      background-repeat: no-repeat;
      background-position: left top;
    }
  }  
}