.resume {
  padding: 36px 0 40px;  
  color: var(--default-text-black-near);
  
  &__about {margin: 12px 0 32px;}
  
  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: calc(28 / 18);
  }
  
  &__photo {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    left: -1000%;
    background: transparent;
    font-size: 0;
  }
  
  &__row {
    margin: 36px 0 20px;
    display: grid;
    row-gap: 36px;
  }
}

@media(min-width: 768px) {
  .resume {
    padding: 48px 0 60px;

    &__container {
      padding: 0 24px;
      display: grid;
      row-gap: 24px;
      column-gap: 10px;
      grid-template-columns: 114px 1fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: 
      "resume__photo resume__title"
      "resume__photo resume__about"
      "resume__photo resume__row"
      "resume__photo resume__button";
    }

    &__title {grid-area: resume__title;}

    &__photo {
      grid-area: resume__photo;
      width: 95px;
      height: 95px;
      overflow: hidden;
      visibility: visible;
      opacity: 1;
      border-radius: 80px;
    }

    &__about {
      grid-area: resume__about;
      margin: 0;
    }

    &__row {
      grid-area: resume__row;
      display: flex;
      margin: 8px 0 8px;      
    }

    &__col {
      flex-grow: 1;
      flex-basis: 0;
    }

    &__button {grid-area: resume__button;}
  }
}

@media (min-width: 992px) {
  a.button:hover {
    color: var(--default-hover-orange);
    transition: all 1s ease 0s;
  }
}

@media (min-width: 1200px) {
  .resume--bg-laptop {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 15%;
      left: 85%;
      height: 468px;
      width: 324px;
      background-image: url('../../img/bg/laptop.png');
      background-repeat: no-repeat;
      background-position: left top;
    }
  }  
}