.works {
  padding: 35px 0 43px;
  border-top: 1px solid var(--default-border-bottom-sections);

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &-filter {
    font-family: 'Noto Sans';
    font-size: 16px;    
    font-weight: 700;
    text-transform: uppercase;   
    // margin-bottom: 20px;
    
    &__categories {
      text-align: center;
      display: grid;
      gap: 10px;
    }
    
    // &__element {     
    //   cursor: pointer; 
      // margin-bottom: 8px; 
      
      // &:last-child {margin-bottom: 0;}

      .filter {
        display: inline-block;
        color: #cecece;
        padding: 12px 25px;        

        &--active {
          padding: 10px 23px;
          border: 2px solid var(--default-text-blue-dark);
          color: #000;          
        }
      }
    // }
  }
  &__row{
    display: grid;
    gap: 35px;
    margin-top: 15px;
  }
  // &__item {margin-bottom: 35px;}   
}