.works {
  padding: 35px 0 43px;
  border-top: 1px solid var(--default-border-bottom-sections);

  &__title {
    margin-bottom: 25px;
    text-align: center;
  }

  &__row {
    display: grid;
    row-gap: 35px;
    margin-top: 15px;
  }  
}

@media(min-width: 768px) {
  .works {
    padding: 54px 0 15px;

    &__container {
      padding: 0 24px;
    }

    &__title {
      margin-bottom: 33px;
    }

    &__row {
      margin-top: 60px;
      grid-template-columns: repeat(3, 1fr);;
      grid-template-rows: auto auto auto;
      column-gap: 30px;
      row-gap: 48px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      place-items: center;
    }
  }
}