.card {

  &__img {
    position: relative;
    display: block;
    min-height: 190px;
    margin-bottom: 10px;
    background-image: url("../img/images/images-placeholders/project_placeholder.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--hover{
      display: none;      

      @media (min-width: 993px) {       
        position: absolute;
        display: block;
        height: 190px;
        top: 0;
        bottom: 0;
        left: 0;      
        right: 0;
        text-align: center;
        font-size: 26px;
        color: #fff;
        background-color: rgba(0,82,194,.9); 
        opacity: 0;
        transition: .5s;        

        .fa {
          margin: 40px 0 15px;
          font-size: 64px;
        }        
      }
    }

    @media (min-width: 993px) {
      &:hover &--hover{     
        opacity: 1;
      }
    }
  }   

  &__title {margin: 18px 0 7px;}

  &__title a {    
    font-family: 'Noto Sans', serif, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
  }

  &__description {
    line-height: calc(20 / 14);    
  }
}

@media (min-width: 768px) {

  .card {

    a.card__img {
      display: inline-block;
      min-height: auto;

      & img{
        max-width: 220px;
        max-height: 190px;

      }

    }    

    .card__text {
      width: 220px;
      padding: 0 5px;
      
      .card__description p {
        font-size: 14px;
        line-height: calc(20 / 14); 
      }

      .card__title {
        margin: 10px 0;
        min-height: 48px;
      }
    }    
  }  
}