.menu-list {
  position: absolute;
  left: -150%;
  background-color: rgba(6, 33, 55, 0.9);
  padding-top: 120px; 
  width: 100%;
  text-align: center;
  // top: 30px;
  transition: all 0.5s ease 0s;

  &._active {
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.5s ease 0s;
  }

  & li {margin-bottom: 48px;}

  &__item a {
    color: var(--default-text-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .1em;
  }

  &__item a:active {color: var(--default-hover-orange);}  
}

@media (min-width: 768px) {
  .menu-list {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 85px;
    background-color: transparent;
    padding-top: 0px;
    margin-bottom: 68px;

    &._active {
      top: 0px;
      left: 0;
      height: auto;
    }

    & li {
      margin-bottom: 0;
      line-height: 1.2;
    }
  }  
}

@media (min-width: 992px) {
  a.menu-list__link:hover {
    color: var(--default-hover-orange);
    text-decoration: none;
    transition: all 1s ease 0s;
  }
}

@media (min-width: 1200px) {
  .menu-list {
    column-gap: 130px;
    margin-bottom: 108px;

    &__item a {font-size: 22px;}
  }
}