.works-filter {
  
  font-family: 'Noto Sans';
  font-size: 16px;    
  font-weight: 700;
  text-transform: uppercase;   
  
  &__categories {
    text-align: center;
    display: grid;
    gap: 10px;
  }
  
  .filter {
    display: inline-block;
    color: #cecece;
    padding: 12px 25px; 
    transition: all 0.5s ease 0s;       

    &--active {
      padding: 10px 23px;
      border: 2px solid var(--default-text-blue-dark);
      color: #000;          
    }

    @media (min-width: 992px) {

      &:hover {
        cursor: pointer;
        color: var(--default-hover-orange);
        transition: all 1s ease 0s; 
      }

    }

  }
  
}

@media(min-width: 768px) {

  .works-filter {
    &__categories {
      display: flex;
      justify-content: center;
      column-gap: 30px;
    } 
    
    .filter--active {
      padding: 10px 30px;
    }
  }

}
